<% if (success && success.length) { %>
  <div class="js-flash-message hidden" data-flash-type="success" data-flash-message="<%= success[0] %>"></div>
<% } %>

<% if (error && error.length) { %>
  <div class="js-flash-message hidden" data-flash-type="error" data-flash-message="<%= error[0] %>"></div>
<% } %>
